@import './variables.scss';
:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: $green;
	color: #fff;
}
::selection {
	background: $green;
	color: #fff;
}
body {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	@include breakpoint(large) {
		grid-template-columns: 60px 1fr;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 50px 1fr 150px;
	@include breakpoint(medium) {
		grid-template-rows: 50px 1fr 100px;
	}
	@include breakpoint(large) {
		grid-template-rows: 90px 1fr 150px;
		grid-column: 2;
	}
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;

	@include breakpoint(large) {
		width: 60px;
		height: 100vh;
		display: grid;
		grid-template-rows: 65px repeat(7, 30px) 1fr;
		row-gap: 30px;
		place-items: center;
		background: #f5f5f5;
	}
	#logo {
		width: 45px;
		height: 45px;
		align-self: flex-end;
		background-image: url('../../favicon.svg');
	}
	#toggle {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		background: #bcbcbc;

		width: 45px;
		height: 20px;
		border-radius: 20px;
		justify-self: center;
		cursor: pointer;
		& svg {
			z-index: 1;
		}
		& #sun {
			margin-left: 3px;
		}
		& #moon {
			justify-self: right;
			margin-right: 3px;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #1f1f1f;
			z-index: 0;
		}
		&.light::after {
			transform: translateX(0);
		}
		&.light {
			#sun * {
				fill: $green;
			}
			#moon * {
				fill: #fff;
			}
		}
		&.dark {
			background: $green;
			#sun * {
				fill: #212121;
			}
			#moon * {
				fill: #fff;
			}
		}
		&.dark::after {
			background: $purple;
			transform: translateX(25px);
		}
	}
	& path {
		fill: #808080;
	}
	.current path {
		fill: $purple;
	}
	.sidebar__link:hover path,
	#sidebar__search:hover path {
		fill: $green;
	}
	#sidebar__search {
		cursor: pointer;
	}
}
