@import './variables.scss';

:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: $green;
	color: #fff;
}
::selection {
	background: $green;
	color: #fff;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 200px 1fr 200px;
	@include breakpoint(medium) {
		grid-template-rows: 200px 1fr 150px;
	}
	@include breakpoint(large) {
		grid-template-rows: 80px 1fr 150px;
	}
	.st0 {
		fill: #01ebd0;
	}
	.st1 {
		fill: #212121;
	}
	.st2 {
		fill: url(#SVGID_1_);
	}

	.st3 {
		fill: url(#SVGID_2_);
	}

	.st4 {
		fill: url(#SVGID_3_);
	}

	.st5 {
		fill: url(#SVGID_4_);
	}

	.st6 {
		opacity: 0.64;
		fill: #00a99d;
		enable-background: new;
	}

	.st7 {
		fill: url(#SVGID_5_);
	}

	.st8 {
		fill: url(#SVGID_6_);
	}

	.st9 {
		fill: url(#SVGID_7_);
	}

	.st10 {
		fill: url(#SVGID_8_);
	}
	#backTextH path {
		fill: #ffffff26;
	}
	#backText path {
		fill: #ffffff40;
	}
	&.dark {
		background: #121212;
		.st1 {
			fill: #ffffff;
		}
		#backTextH path,
		#backText path {
			fill: #ffffff1a;
		}

		#header {
			background: $dark;
			color: $darkText;
			& * {
				color: $darkText;
			}
			.header__btn {
				border: none;
				background: $purple;
				color: #fff;
				&:hover {
					background-color: lighten($color: $purple, $amount: 5);
				}
				&:active {
					background-color: darken($color: $purple, $amount: 5);
				}
			}
		}
		#main {
			color: $darkText;
			background: #121212;
			#startSection {
				.startSection__form {
					background: $darkFormBackground;
					.input {
						background: $dark;
						color: #eee;
						border: 1px solid #aaaaaa80;
						&:focus {
							border-color: #aaaaaa;
						}
						&::placeholder {
							color: #aaaaaa;
						}
					}
				}
			}
			#featuresSection {
				background: $dark;

				.card {
					background: #121212e6;
					color: #eee;
					.card__link {
						background: #eee;
						color: #121212;
					}
					.card__icon path {
						fill: #eee;
					}
					&:hover {
						background: $purple;
					}
				}
			}
		}
		#footer {
			background: $dark;
			color: $darkText;

			@include breakpoint(medium) {
				.logo {
					border-right: 1px solid #eee;
				}
			}
			#footer__text {
				color: #eee;
			}
			.link:hover .link__icon path {
				fill: $green;
			}
			.link .link__icon path {
				fill: #eee;
			}
		}
	}
}
#header {
	background: #fff;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	* {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.links {
		display: grid;
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		grid-template-columns: auto auto auto;
		.link {
			font-size: 14px;
			color: #212121;
			text-decoration: none;
		}
		.link:hover {
			text-decoration: underline;
			color: $purple;
		}
		#toggle {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			background: #bcbcbc;

			width: 45px;
			height: 20px;
			border-radius: 20px;
			grid-column: 1/4;
			justify-self: center;
			cursor: pointer;
			& svg {
				z-index: 1;
			}
			& #sun {
				margin-left: 3px;
			}
			& #moon {
				justify-self: right;
				margin-right: 3px;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #1f1f1f;
				z-index: 0;
			}
			&.light::after {
				transform: translateX(0);
			}
			&.light {
				#sun * {
					fill: $green;
				}
				#moon * {
					fill: #fff;
				}
			}
			&.dark {
				background: $green;
				#sun * {
					fill: #212121;
				}
				#moon * {
					fill: #fff;
				}
			}
			&.dark::after {
				background: $purple;
				transform: translateX(25px);
			}
		}
	}
	.header__btn {
		border: none;
		outline: none;
		font-weight: 900;
		color: #fff;
		background: $purple;
		border: none;
		width: 150px;
		height: 40px;
		border-radius: 10px;
		cursor: pointer;
		&:hover {
			background-color: lighten($color: $purple, $amount: 5);
		}
		&:active {
			background-color: darken($color: $purple, $amount: 5);
		}
	}
	@include breakpoint(medium) {
		.links {
			grid-template-columns: auto auto auto auto;
			#toggle {
				grid-column: unset;
			}
		}
	}
	@include breakpoint(large) {
		& {
			flex-direction: row;
			height: 80px;
			justify-content: space-between;
			padding: 0 5%;
		}
	}
	@include breakpoint(xl) {
		& {
			padding: 0 calc(10% + 5vw);
		}
	}
}
.logo {
	width: 150px;
	height: 50px;
}

#main {
	background: #f9f9f9;
	color: $lightText;
	#startSection {
		display: grid;
		justify-items: center;
		padding: 30px 0;
		grid-row-gap: 30px;
		.startSection__title {
			width: 90%;
			h1 {
				font-size: 26px;
				padding-bottom: 15px;
			}
			p {
				font-size: 14px;
			}
		}
		.startSection__form {
			display: grid;
			justify-items: center;
			grid-row-gap: 15px;
			width: 90%;
			background: $purple;
			border-radius: 10px;
			padding: 20px 0;
			h2 {
				font-size: 24px;
				color: #fff;
			}
			.socialRegistration {
				display: flex;
				width: 80%;
				justify-content: space-between;
				.icon {
					width: 40px;
					height: 40px;
					border-radius: 5px;
					background: $green;
					display: grid;
					place-items: center;
					cursor: pointer;
					&:hover {
						background: #fff;
					}
					& svg {
						height: 20px;
						max-width: 22px;
					}
				}
			}
			#signUp__btn {
				padding: 10px 32px;
				border-radius: 10px;
				font-size: 14px;
				background: $green;
				outline: none;
				border: none;
				cursor: pointer;
				&:hover {
					background: lighten($color: $green, $amount: 5);
				}
				&:active {
					background: darken($color: $green, $amount: 5);
				}
			}
			.input {
				width: 80%;
				outline: none;
				height: 40px;
				padding: 0 10px;
				border-radius: 5px;
				background: rgba(255, 255, 255, 0.8);
				color: #fff;
				border: none;
				border: 1px solid #fff;
				&:focus {
					background: #fff;
					border-color: #000;
				}
				&::placeholder {
					color: #000000;
				}
				&:required {
					box-shadow: none;
				}
			}

			p {
				width: 80%;
				font-size: 12px;
				color: #fff;
				text-align: center;
			}
		}
		@include breakpoint(medium) {
			& {
				padding: 50px 0;
				grid-row-gap: 50px;
			}
			.startSection__title {
				width: 80%;
				h1 {
					font-size: 40px;
					padding-bottom: 15px;
				}
				p {
					font-size: 18px;
				}
			}
			.startSection__form {
				width: 80%;
				.socialRegistration {
					// width: 350px;
				}
			}
		}
		@include breakpoint(large) {
			& {
				padding: 100px 5%;
				grid-template-columns: auto auto;
			}
		}
		@include breakpoint(xl) {
			& {
				padding: 100px calc(10% + 5vw);
			}
			.startSection__title {
				width: 100%;

				h1 {
					justify-self: left;
					font-size: calc(30px + 1vw);
					padding-bottom: 40px;
				}
				p {
					width: 90%;
					max-width: 610px;
					font-size: 20px;
					line-height: 40px;
				}
			}
			.startSection__form {
				width: 390px;
				height: 500px;

				.socialRegistration {
					width: 330px;
					.icon {
						width: 50px;
						height: 50px;
					}
				}
				#signUp__btn {
					font-size: 16px;
				}
				.input {
					width: 330px;
				}
				p {
					width: 330px;
				}
			}
		}
	}
	#featuresSection {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 30px 0;
		grid-row-gap: 30px;
		background-color: $green;
		* {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		h2 {
			font-size: 26px;
			position: relative;
			margin-bottom: 20px;
			&::after {
				content: '';
				width: 50px;
				height: 4px;
				background: $purple;
				border-radius: 10px;
				position: absolute;
				top: 45px;
				left: 50%;
				transform: translate(-50%, 0);
				margin-bottom: 20px;
			}
		}
		.card {
			text-decoration: none;
			position: relative;
			display: grid;
			width: 75%;
			height: 200px;
			border-radius: 20px;
			grid-template-rows: 60px 1fr;
			text-align: left;
			justify-items: left;
			z-index: 2;
			background: #ffffffb3;
			color: #212121;
			padding: 15px 15px;
			transition: all 0.2s;
			cursor: pointer;
			&:hover {
				background: #fff;
			}
			.card__block {
				grid-row: 2;
			}
			.card__icon {
				position: relative;
				display: grid;
				justify-items: left;
				align-items: center;
				margin-bottom: 20px;
				& svg {
					height: 30px;
					max-width: 30px;
				}
				& path {
					fill: #1f1f1f;
				}
			}
			.card__title {
				font-weight: 900;
				font-size: 16px;
				letter-spacing: 1px;
			}
			.card__text {
				font-size: 14px;
				width: 100%;
			}
			.card__link {
				position: absolute;
				bottom: 15px;
				right: 15px;

				font-size: 14px;
				color: #fff;
				background: #000;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				text-decoration: none;
				justify-self: right;
			}
		}
		#backText {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 5px;
			height: 85%;
		}
		#backTextH {
			position: absolute;
			bottom: 60px;
			width: 98vw;
			max-width: 2200px;
			left: 50%;
			transform: translate(-50%, 0);
			opacity: 0;
			visibility: hidden;
		}
		@include breakpoint(medium) {
			h2 {
				font-size: 46px;
				&::after {
					top: 70px;
					width: 100px;
				}
			}
			.card {
				.card__title {
					font-size: 22px;
				}
				.card__text {
					font-size: 16px;
					width: 90%;
				}
				.card__link {
					font-size: 16px;
				}
			}
		}
		@include breakpoint(large) {
			& {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 150px;
				height: 60vh;
				max-height: 600px;
				min-height: 600px;
				grid-row-gap: 0;
				padding: 45px 0;
			}
			h2 {
				grid-column: 1/5;
				z-index: 2;
			}
			.card {
				grid-row: 2;
				height: 320px;
				grid-template-rows: 120px 1fr;
				align-self: center;
			}
			#backText {
				opacity: 0;
				visibility: hidden;
			}
			#backTextH {
				opacity: 1;
				visibility: visible;
				top: 100px;
			}
		}
		@include breakpoint(xl) {
			& {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 200px;
				height: 90vh;
				max-height: 850px;
				min-height: 850px;
				grid-row-gap: 0;
				padding: 45px 5%;
			}
			h2 {
				font-size: 54px;
				grid-column: 1/5;
				z-index: 2;
				&::after {
					top: 100px;
				}
			}
			#backText {
				opacity: 0;
				visibility: hidden;
			}
			#backTextH {
				opacity: 1;
				visibility: visible;
				top: unset;
			}
			.card {
				grid-row: 2;
				height: 375px;
				width: 280px;
				grid-template-rows: 175px 1fr;
				margin-bottom: 60px;
				align-self: baseline;
				.card__title {
					position: absolute;
					top: 15px;
					left: 15px;
					font-size: 20px;
				}
				.card__text {
					font-size: 16px;
					width: 100%;
				}
				.card__link {
					font-size: 20px;
					bottom: 30px;
					right: 30px;
				}
			}
			// .card:nth-of-type(1) {
			// 	justify-self: right;
			// }
			// .card:nth-of-type(4) {
			// 	justify-self: left;
			// }
		}
	}
	#ctaSection {
		padding: 30px 0;
		display: grid;
		text-align: center;
		place-items: center;
		grid-row-gap: 20px;
		.ctaSection__title {
			font-size: 32px;
			font-weight: 900;
			width: 85%;
		}
		.ctaSection__text {
			font-size: 14px;
			width: 80%;
		}
		.signUp__btn {
			width: 180px;
			height: 45px;
			font-size: 18px;
			background: $green;
			border: none;
			outline: none;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background: lighten($color: $green, $amount: 5);
			}
			&:active {
				background: #2196f3;
			}
		}
		@include breakpoint(medium) {
			& {
				padding: 50px 0;
				grid-row-gap: 35px;
			}
			.ctaSection__title {
				font-size: 48px;
			}
			.ctaSection__text {
				font-size: 18px;
			}
			.signUp__btn {
				width: 250px;
				height: 60px;
				font-size: 20px;
			}
		}
		@include breakpoint(xl) {
			& {
				padding: 100px 0;
				grid-row-gap: 35px;
			}
			.ctaSection__title {
				font-size: 54px;
				max-width: 700px;
			}
			.ctaSection__text {
				font-size: 20px;
			}
		}
	}
}

#footer {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	* {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#footer__text {
		color: #212121;
		font-size: 12px;
	}
	.social__links {
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: auto auto auto auto;

		.link {
			display: grid;
			place-items: center;
			width: 40px;
			height: 40px;
			.link__icon {
				width: 22px;
				& path {
					fill: #212121;
				}
			}
			&:hover {
				.link__icon {
					fill: $green;
				}
			}
		}
	}
	@include breakpoint(medium) {
		& {
			display: grid;
			grid-template-columns: 150px 180px 1fr;
			padding: 0 30px;
			height: 150px;
		}

		.logo {
			width: 150px;
			padding-right: 20px;

			border-right: 1px solid #212121;
			background-position-x: left;
		}
		#footer__text {
			justify-self: right;
			width: 160px;
		}
		.social__links {
			justify-self: right;
			grid-column-gap: 10px;
		}
	}
	@include breakpoint(large) {
		& {
			padding: 0 5%;
		}
	}
	@include breakpoint(xl) {
		& {
			padding: 0 calc(10% + 5vw);
		}
	}
}
