@import './variables.scss';

:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: $green;
	color: #fff;
}
::selection {
	background: $green;
	color: #fff;
}

body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 120px 1fr;
	background: #f9f9f9;

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		z-index: 2;
		.logo {
			height: 40px;
		}
		.st0 {
			fill: #212121;
		}

		.st1 {
			fill: #01ebd0;
		}

		.st2 {
			fill: url(#SVGID_1_);
		}

		.st3 {
			fill: url(#SVGID_2_);
		}

		.st4 {
			fill: url(#SVGID_3_);
		}

		.st5 {
			fill: url(#SVGID_4_);
		}

		.st6 {
			opacity: 0.64;
			fill: #00a99d;
			enable-background: new;
		}

		.st7 {
			fill: url(#SVGID_5_);
		}

		.st8 {
			fill: url(#SVGID_6_);
		}

		.st9 {
			fill: url(#SVGID_7_);
		}

		.st10 {
			fill: url(#SVGID_8_);
		}
		#header__links {
			display: grid;
			grid-template-columns: repeat(3, auto);
			column-gap: 30px;
			.header__links__item {
				color: #212121;
				text-decoration: none;
				font-size: 16px;
				&:hover {
					text-decoration: underline;
					color: $purple;
				}
			}
		}
	}
	main {
		position: relative;
		width: 95%;
		justify-self: center;
		display: grid;
		justify-items: center;
		align-items: baseline;
		grid-template-rows: 0.3fr max-content;
		row-gap: 30px;
		padding: 20px 0;

		#main__title {
			position: relative;
			display: grid;
			row-gap: 15px;

			#main__title__svg,
			p {
				z-index: 1;
			}

			&::before,
			&::after {
				content: ' ';
				position: absolute;
				width: 200px;
				height: 200px;
				border-radius: 50%;
			}
			&::before {
				bottom: 0;
				right: 0;
				background: radial-gradient(
					56.63% 48.52% at 50% 50%,
					#01ebd066 0%,
					#01ebd000 87.5%
				);
			}
			&::after {
				top: 0;
				left: 0;
				transform: translateX(-30%);
				background: radial-gradient(
					56.63% 48.52% at 50% 50%,
					#804cfa66 0%,
					#804cfa00 87.5%
				);
			}
		}
		#registration {
			width: 100%;
			display: grid;
			row-gap: 15px;
			justify-items: left;
			align-items: center;
			z-index: 2;
			color: #212121;
			form {
				width: 100%;
				display: grid;
				row-gap: 15px;
				justify-items: left;
				align-items: center;
			}
			.row {
				width: 100%;
			}
			button {
				height: 50px;
				border-radius: 15px;
				border: none;
				outline: none;
				color: #fff;
				cursor: pointer;
			}
			#social_registration {
				display: grid;
				grid-template-columns: 1fr auto;
				column-gap: 20px;
				#social_registration__vk {
					width: 50px;
					display: grid;
					place-items: center;
					background: #2787f5;
				}
				#social_registration__google {
					font-size: 14px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #4285f4;
					svg {
						margin-right: 15px;
					}
				}
			}
			#auth_button {
				background: $purple;
				font-weight: 700;
				font-size: 16px;
				width: 100%;
			}
			.row_input {
				display: grid;
				row-gap: 5px;
				input {
					border: none;
					outline: none;
					background: #e3d7fe;
					height: 50px;
					border-radius: 15px;
					font-size: 16px;
					padding: 0 15px;
					border: 2px solid transparent;
					&:focus {
						background: #ffffff;
						border: 2px solid #212121;
					}
					&:required {
						box-shadow: none;
					}
					&::placeholder {
						color: #212121;
						opacity: 0.8;
						font-size: 12px;
					}
				}
			}
			#password__requirements {
				font-size: 12px;
			}
		}
	}

	.alert {
		position: fixed;
		display: grid;
		opacity: 0;
		visibility: hidden;
		row-gap: 15px;
		place-items: center;
		width: 95%;
		background: #ff2947;
		border-radius: 10px;
		z-index: 100;
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
		padding: 15px 0;
		#alert__title {
			color: #fff;
			text-align: center;
		}
		#alert__btn {
			background: lighten($color: #ff2947, $amount: 10);
			color: #212121;
			width: 100px;
			padding: 5px 0;
			border-radius: 7px;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 16px;
			&:hover {
				background: lighten($color: #ff2947, $amount: 15);
			}
		}
	}
	#page__block {
		position: fixed;
		opacity: 0;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #fffffff2;
		z-index: 99;
	}
	@include breakpoint(medium) {
		grid-template-rows: 100px 1fr;
		height: 100vh;
		header {
			flex-direction: row;
			justify-content: space-between;
			padding: 0 5%;
		}
		main {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10% 5%;
			&:after {
				content: ' ';
				position: fixed;
				width: 500px;
				height: 300px;
				bottom: 0;
				right: 0;
				transform: translate(35%, 30%);
				background: radial-gradient(
						42.64% 42.64% at 54.16% 37.9%,
						#01ebd066 0%,
						#01ebd000 87.5%
					),
					radial-gradient(
						49.76% 41.79% at 46.52% 61.08%,
						#804cfa66 0%,
						#804cfa00 87.5%
					);
			}
			#main__title {
				padding-right: 50px;
				p {
					font-size: 18px;
				}
				&::before,
				&::after {
					width: 300px;
					height: 300px;
				}
			}
			#registration {
				transform: translateY(-40px);
				#social_registration #social_registration__google {
					font-size: 10px;
					svg {
						margin-right: 5px;
					}
				}
				#auth_button {
					font-size: 12px;
				}
			}
		}
	}
	@include breakpoint(large) {
		header {
			padding: 0 8%;
		}
		main {
			padding: 8% 8%;
			&:after {
				width: 1000px;
				height: 500px;
			}
			#registration {
				width: 85%;
				#social_registration #social_registration__google {
					font-size: 14px;
					svg {
						margin-right: 15px;
					}
				}
				#auth_button {
					font-size: 14px;
				}
			}
			#main__title {
				padding-right: 8%;
				row-gap: 40px;
				p {
					font-size: 20px;
				}
				&::before,
				&::after {
					width: 300px;
					height: 300px;
				}
			}
		}

		.alert {
			top: 20%;
			bottom: unset;
			width: fit-content;
			padding: 15px 30px;
		}
	}
	@include breakpoint(xl) {
		main {
			#registration {
				min-width: 360px;
				width: 30%;
				max-width: 400px;
				transform: translateY(-15%);
			}
			#main__title {
				p {
					padding-left: 20px;
				}
				&::before,
				&::after {
					width: 500px;
					height: 500px;
				}
				&::before {
					bottom: -60%;
				}
				&::after {
					top: -40%;
				}
			}
		}
	}
}
