@import './variables.scss';

:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: #01ebd0;
	color: #fff;
}
::selection {
	background: #01ebd0;
	color: #fff;
}

body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 150px 1fr;
	background: #f9f9f9;
	color: #212121;
	header {
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		z-index: 2;
		.logo {
			height: 40px;
		}
		#header__links {
			display: grid;
			grid-template-columns: repeat(3, auto);
			column-gap: 30px;
			.header__links__item {
				color: #212121;
				text-decoration: none;
				font-size: 16px;
				&:hover {
					text-decoration: underline;
					color: #814efa;
				}
				&.header__links__item--disabled {
					pointer-events: none;
				}
			}
		}
		#header__button {
			height: 40px;
			padding: 0 40px;
			outline: none;
			border-radius: 10px;
			border: 2px solid #efe9fe;
			background: #efe9fe;
			color: #814efa;
			font-weight: 700;
			font-size: 16px;
			cursor: pointer;
			&:hover {
				border-color: #814efa;
			}
		}
	}
	main {
		display: grid;
		height: calc(100vh - 150px);
		.main__title {
			position: relative;
			top: 30%;
			transform: translateY(-30%);
			height: fit-content;
			display: grid;
			place-items: center;
			text-align: center;
			row-gap: 20px;
			grid-auto-rows: max-content;
			.main__title__h {
				font-size: clamp(21px, 6.5vw, 30px);
			}
			.main__title__cta {
				margin-top: 10px;
				text-decoration: none;
				font-weight: 700;
				font-size: 16px;
				color: #fff;
				background: #814efa;
				border: 1px solid #7144db;
				border-radius: 10px;
				padding: 15px 80px;
				transition: 0.2s all;
				&:hover {
					background: lighten(#814efa, 3);
				}
			}
			p {
				font-size: clamp(14px, 2vmax, 22px);
				padding: 0 10px;
			}
		}
		&::before,
		&::after {
			content: ' ';
			position: fixed;
			width: 600px;
			height: 600px;
			border-radius: 50%;
			background: #000;
			z-index: -1;
		}
		&::before {
			bottom: 0;
			left: 0;
			background: #01ebd0;
			transform: translate(-65%, 50%);
		}
		&::after {
			right: 0;
			top: 0;
			background: #814efa;
			transform: translate(65%, -40%);
		}
	}
	#registration {
		position: fixed;
		opacity: 0;
		visibility: hidden;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95%;
		max-width: 400px;
		padding: 20px;
		display: grid;
		row-gap: 15px;
		justify-items: left;
		place-items: center;
		z-index: 2;
		color: #212121;
		background: #fff;
		border-radius: 20px;
		z-index: 10;
		h3 {
			font-size: 24px;
		}
		form {
			width: 100%;
			display: grid;
			row-gap: 15px;
			margin-top: 10px;
			justify-items: left;
			align-items: center;
		}
		.row {
			width: 100%;
			& > button {
				margin-top: 15px;
			}
			&.confidential {
				font-size: 10px;
				color: #505050;
				text-align: center;
				a {
					color: #505050;
					&:hover {
						color: #814efa;
					}
				}
			}
		}
		button,
		a {
			height: 50px;
			border-radius: 15px;
			border: none;
			outline: none;
			color: #fff;
			cursor: pointer;
		}
		#social_registration {
			display: grid;
			grid-template-columns: 1fr auto;
			column-gap: 20px;
			#social_registration__yandex {
				width: 50px;
				display: grid;
				place-items: center;
				background: #ffcc00;
			}
			#social_registration__google {
				text-decoration: none;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #4285f4;
				svg {
					margin-right: 15px;
				}
			}
		}
		#auth_button {
			background: #814efa;
			font-weight: 700;
			font-size: 14px;
			width: 100%;
		}
		.row_input {
			display: grid;
			row-gap: 5px;
			input {
				border: none;
				outline: none;
				background: #f7f7f7;
				height: 40px;
				border-radius: 10px;
				font-size: 16px;
				padding: 0 15px;
				border: 1px solid #c5c5c5;
				&:focus {
					background: #ffffff;
					padding: 0 14px;
					border: 2px solid #212121;
				}
				&:required {
					box-shadow: none;
				}
				&::placeholder {
					color: #141414;
					opacity: 0.8;
					font-size: 12px;
				}
			}
		}
	}
	.alert {
		position: fixed;
		display: grid;
		opacity: 0;
		visibility: hidden;
		row-gap: 15px;
		place-items: center;
		width: 95%;
		background: #ff2947;
		border-radius: 10px;
		z-index: 100;
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
		padding: 15px 0;
		#alert__title {
			color: #fff;
			text-align: center;
		}
		#alert__btn {
			background: lighten($color: #ff2947, $amount: 10);
			color: #212121;
			width: 100px;
			padding: 5px 0;
			border-radius: 7px;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 16px;
			&:hover {
				background: lighten($color: #ff2947, $amount: 15);
			}
		}
	}
	#page__block {
		position: fixed;
		opacity: 0;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #212121f2;
		z-index: 99;
	}
	@include breakpoint(medium) {
		grid-template-rows: 70px 1fr;

		header {
			flex-direction: row;
			justify-content: space-between;
			padding: 0 5%;
		}
		main {
			height: calc(100vh - 70px);
			&::before {
				background: #814efa;
				transform: translate(-45%, 40%);
			}
			&::after {
				background: #01ebd0;
				transform: translate(45%, -40%);
			}
			.main__title {
				row-gap: 25px;
				.main__title__h {
					font-size: clamp(30px, 5.5vw, 70px);
				}
			}
		}
		#registration {
			h3 {
				font-size: 30px;
			}
		}
		.alert {
			top: 40%;
			bottom: unset;
			width: 60%;
		}
	}
	@include breakpoint(large) {
		header {
			padding: 0 15%;
		}
		main {
			&::before,
			&::after {
				width: 50vw;
				height: 50vw;
			}
			&::before {
				transform: translate(-55%, 35%);
			}
			&::after {
				transform: translate(30%, -30%);
			}
			.main__title {
				p {
					width: 60ch;
				}
				.main__title {
					row-gap: 40px;
				}
			}
		}
	}
}
