@import './variables.scss';
:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: $green;
	color: #fff;
}
::selection {
	background: $green;
	color: #fff;
}
::-ms-clear {
	width: 0;
	height: 0;
}
@keyframes type {
	from {
		box-shadow: inset -3px 0px 0px #313131;
	}
	to {
		box-shadow: inset -3px 0px 0px transparent;
	}
}
@keyframes dark-type {
	from {
		box-shadow: inset -3px 0px 0px #eee;
	}
	to {
		box-shadow: inset -3px 0px 0px transparent;
	}
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
body {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
}
#wrapper {
	background: #f9f9f9;
	width: 100%;
	// height: 100%;
	min-height: calc(100vh - 60px);
	margin-top: 60px;
	display: grid;
	grid-template-rows: 1fr;
	@include breakpoint(large) {
		min-height: calc(100vh - 60px);
		padding-left: 60px;
		margin-top: 60px;
	}
	#wrapper__block-elements {
		position: fixed;
		top: 60px;
		left: 160px;
		background: #00000034;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
	&.dark {
		background: #181818;
		#sidebar {
			background: #212121;
			& path {
				fill: #909090;
			}
			.current path {
				fill: #fff;
			}

			.sidebar__link__name {
				color: #909090;
			}
			.current .sidebar__link__name {
				color: #fff;
			}
			.sidebar__link:not(.current):hover path,
			.sidebar__link:not(.current):hover .sidebar__link__name {
				fill: lighten($color: $purple, $amount: 25);
				color: lighten($color: $purple, $amount: 25);
			}
			&.open {
				.current,
				.sidebar__link:hover {
					background: #383838;
				}
			}
		}
		#header {
			background: #202020;
			color: #eeeeee;
			.st1 {
				fill: #fff;
			}
			#header__hamburger {
				&:hover path {
					fill: darken(#606060, 5);
				}
				& path {
					fill: #909090;
				}
			}
			#header__search {
				#search {
					color: #eee;
					background: #313131;
				}
				::placeholder {
					color: #757575;
				}
				#header__search__button {
					background: #3b3b3b;
					& path {
						fill: #6f6f6f;
					}
				}
			}
			#header__avatar {
				& path {
					fill: #01ebd0;
				}
			}
		}
		#main {
			.education-card {
				background: #1f1f1f;
				&::after {
					color: #212121;
					background: #eee;
				}
				.education-card__title {
					color: #eee;
				}
				&:hover {
					&::after {
						color: #eee;
						background: $purple;
					}
					.education-card__title {
						color: $purple;
					}
				}
			}
			&.list {
				#main__title,
				.main__list__subtitle,
				.main__list__article__link:visited {
					color: #eee;
				}
				.main__list__article__link {
					color: lighten($purple, 10);
				}
				.main__list__article__id {
					color: #ccc;
				}
			}
			&.article {
				.error .error__text {
					color: #eee;
					animation-name: dark-type;
				}
				.article__title,
				.article__content__paragraph,
				.article__content__subtitle,
				.article__list,
				.article__code__header,
				.article__code__output {
					color: #eee;
				}
				.article__navigation__cta {
					color: #eee;
					path {
						fill: #eee;
					}
				}
				a {
					color: lighten($purple, 10);
				}
				a:visited {
					color: #eee;
				}
				.article__code__header,
				.article__code__output {
					background: #313131;
				}
				.highlighted {
					background-color: #ebe3fe27;
					color: #ebe3fe;
				}
			}
		}
	}
}

#header {
	position: fixed;
	display: grid;
	place-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	z-index: 2;
	grid-template-columns: 50px 1fr 50px 50px;
	.logo {
		display: none;
	}

	.st0 {
		fill: #01ebd0;
	}
	.st1 {
		fill: #212121;
	}
	.st2 {
		fill: url(#SVGID_1_);
	}

	.st3 {
		fill: url(#SVGID_2_);
	}

	.st4 {
		fill: url(#SVGID_3_);
	}

	.st5 {
		fill: url(#SVGID_4_);
	}

	.st6 {
		opacity: 0.64;
		fill: #00a99d;
		enable-background: new;
	}

	.st7 {
		fill: url(#SVGID_5_);
	}

	.st8 {
		fill: url(#SVGID_6_);
	}

	.st9 {
		fill: url(#SVGID_7_);
	}

	.st10 {
		fill: url(#SVGID_8_);
	}
	.logo {
		height: 40px;
		grid-column: 2;
	}
	#toggle {
		position: relative;
		display: grid;
		place-items: center;
		grid-column: 3;
		width: 24px;
		height: 24px;
		cursor: pointer;
		& svg {
			z-index: 1;
		}

		&.light #moon path {
			fill: #3b3b3b;
		}

		&.dark #moon path {
			fill: #fff;
		}
	}
	#header__hamburger {
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		&:hover path {
			fill: lighten(#606060, 15);
		}
		& path {
			fill: #606060;
		}
	}
	#header__search {
		width: 100%;
		display: grid;
		border-radius: 8px;
		grid-template-columns: 1fr auto;
		grid-column: 2;
		& path {
			fill: #606060;
		}
		#search {
			width: 100%;
			border: none;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			background-color: #f3f3f3;

			padding: 10px 15px;
		}

		#header__search__button {
			display: grid;
			place-items: center;
			border: none;
			outline: none;
			background: darken($color: #f3f3f3, $amount: 7);
			width: 40px;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			cursor: pointer;
		}
	}
	#header__avatar {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		text-decoration: none;
		& path {
			fill: #01ebd0;
		}
	}
	@include breakpoint(medium) {
		grid-template-columns: 60px 140px 1fr 60px 80px;
		.logo {
			display: block;
		}
		#header__search {
			grid-column: 3;
			width: 80%;
		}
		#toggle {
			grid-column: 4;
		}
	}
	@include breakpoint(large) {
		#header__search {
			width: 35%;
			min-width: 400px;
		}
	}
}
#main {
	display: grid;
	place-items: center;
	grid-template-rows: 330px;
	margin: 15px 0;
	&.article {
		color: #212121;
		grid-template-columns: 1fr;
		grid-template-rows: 24px 1fr;
		row-gap: 10px;
		.error {
			width: 90%;

			row-gap: 80px;
			transform: translateY(50%);
			display: grid;
			grid-template-rows: 1fr auto;
			place-items: center;
			align-self: baseline;
			#error__button {
				height: 50px;
				width: 150px;
				background: $green;
				outline: none;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				&:hover {
					background: lighten($color: $green, $amount: 5);
				}
				&:active {
					background: darken($color: $green, $amount: 2);
				}
			}
			.error__text {
				color: #313131;
				font-size: 50px;
				padding-right: 12px;
				animation: type 0.5s alternate infinite;
			}
		}
		.article__title {
			font-size: 22px;
		}
		.article__content {
			display: grid;
			align-self: baseline;
			row-gap: 10px;
			padding: 0 2.5%;
			.article__content__subtitle {
				font-weight: 700;
				font-size: 16px;
			}
			.article__content__paragraph {
				font-size: 14px;
				line-height: 1.5;
				.highlighted {
					border-radius: 3px;
					padding: 3px 5px;
					background: lighten($color: $purple, $amount: 30);
					color: darken($purple, 5);
				}
				a {
					color: darken($purple, 5);
				}
				a:visited {
					color: #212121;
				}
			}
			.article__list {
				.article__list__item {
					font-size: 14px;
					margin: 5px 10px 5px 25px;
				}
			}

			.article__code {
				width: 100%;
				display: grid;
				justify-items: center;
				align-items: center;
				justify-self: center;
				.article__code__header {
					width: 100%;
					height: 40px;
					padding: 0 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					background: lighten($purple, 32);
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
					color: darken($purple, 10);
					svg {
						height: 20px;
						width: auto;
						path {
							fill: darken($purple, 10);
						}
					}
				}
				.article__code__output {
					width: 100%;
					height: 100%;
					min-height: 50px;
					padding: 5px 0 10px 10px;
					background: lighten($purple, 32);
					color: darken($purple, 10);
					grid-template-rows: 30px auto;
					display: grid;
					align-items: center;
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}

				pre {
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
				&.top pre {
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
				&.full pre {
					border-radius: 0;
				}
				&.bottom pre {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
				::-webkit-scrollbar {
					height: 4px;
					width: 4px;
					background: gray;
				}
				::-webkit-scrollbar-thumb:horizontal {
					background: #000;
					border-radius: 10px;
				}
			}
		}
		.article__navigation {
			height: 40px;
			width: 95%;
			display: grid;
			place-items: center;
			grid-template-columns: 1fr 1fr;
			.article__navigation__cta {
				font-size: 16px;
				text-decoration: none;
				color: #212121;
				display: grid;
				grid-template-columns: auto auto;
				column-gap: 10px;
				place-items: center;
				&.article__navigation__cta--disabled {
					opacity: 0;
					visibility: hidden;
				}
				&:hover {
					color: $purple;
				}
				&:hover path {
					fill: $purple;
				}
			}
		}
	}
	&.list {
		grid-template-columns: 1fr;
		grid-template-rows: 24px 1fr;
		color: #212121;
	}

	#main__title {
		font-size: 24px;
	}
	#main__list {
		width: 90%;
		align-self: baseline;
		display: grid;
		row-gap: 10px;
	}
	.main__list__subtitle {
		display: block;
		padding-top: 15px;
		font-size: 20px;
	}
	.main__list__article {
		font-size: 14px;
		margin-left: 10px;
		display: grid;
		grid-template-columns: 50px auto;
	}
	.main__list__article__id {
		color: #636363;
	}
	.main__list__article__link {
		width: max-content;
		text-decoration: none;
		color: $purple;
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: #212121;
		}
	}

	.education-card {
		text-decoration: none;
		width: 90%;
		height: 300px;
		background-color: #121212;
		border-radius: 30px;
		display: grid;
		grid-template-rows: 1fr 80px;
		place-items: center;
		cursor: pointer;
		.education-card__title {
			color: #eeeeee;
			justify-self: left;
			font-size: 40px;
			font-family: 'Ubuntu';
			transition: 0.2s all;
			padding: 15px;
			grid-row: 2;
			grid-column: 1;
		}
		.education-card__image {
			width: 100%;
			height: 100%;
			background-size: cover;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			background-repeat: no-repeat;
			background-position: center center;
			grid-column: 1/3;
		}
		&::after {
			content: '->';
			width: 40px;
			height: 40px;
			background: #eeeeee;
			color: #212121;
			display: grid;
			place-items: center;
			border-radius: 50%;
			justify-self: right;
			margin-right: 15px;
			grid-row: 2;
			grid-column: 2;
			transition: 0.2s all;
		}
		&:hover {
			&::after {
				background: $purple;
				color: #fff;
			}
			.education-card__title {
				color: $purple;
			}
		}
		&#python .education-card__image {
			background-image: url('../img/python.jpg');
		}
	}

	@include breakpoint(medium) {
		grid-template-columns: 1fr 1fr;
		.main__list__subtitle {
			font-size: 22px;
		}
		.main__list__article {
			font-size: 16px;
		}
		#main__title {
			font-size: 26px;
		}
		&.list {
			grid-template-rows: 26px 1fr;
		}
		&.article {
			.error {
				align-self: center;
				transform: translateY(-50%);
			}
		}
	}
	@include breakpoint(large) {
		grid-template-columns: 1fr 1fr 1fr;

		#main__title {
			font-size: 28px;
		}
		&.list {
			width: 800px;
			justify-self: center;
			grid-template-rows: 28px 1fr;
		}
		&.article {
			width: 800px;
			justify-self: center;
		}
	}
	@include breakpoint(xl) {
		grid-template-columns: repeat(4, 1fr);
		.main__list__subtitle {
			font-size: 24px;
		}
		.main__list__article {
			font-size: 18px;
		}
		#main__title {
			font-size: 30px;
		}
		&.list {
			width: 1000px;
			grid-template-rows: 30px 1fr;
		}
		&.article {
			width: 1000px;
		}
	}
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	z-index: 1;
	width: 160px;
	height: 100vh;
	display: grid;
	padding-top: 60px;
	grid-template-rows: repeat(6, 50px) 1fr;
	row-gap: 5px;
	align-items: center;
	background: #fff;
	justify-items: left;
	&.open {
		transform: translateX(0);
	}
	.sidebar__link {
		grid-template-columns: 60px 100px;
	}

	.sidebar__link__name {
		align-self: center;
		justify-self: left;
		margin-left: 5px;
		transform: translateY(0);
		font-size: 14px;
		grid-column: 2;
		grid-row: 1/3;
	}
	.current .sidebar__link__name {
		color: #000;
	}
	.current,
	.sidebar__link:hover {
		background: #e5e5e5;
	}
	& path {
		fill: #606060;
	}
	.current path {
		fill: $purple;
	}

	.sidebar__link svg {
		width: 20px;
	}
	.sidebar__link:not(.current):hover path,
	.sidebar__link:not(.current):hover .sidebar__link__name {
		fill: #000;
		color: #000;
	}

	.sidebar__link {
		height: 50px;
		width: 100%;
		text-decoration: none;
		display: grid;
		place-items: center;
		& svg {
			grid-row: 1/3;
			grid-column: 1;
		}
		row-gap: 6px;
		column-gap: 0;

		.sidebar__link__name {
			color: #606060;
		}
		&.current .sidebar__link__name {
			color: darken($purple, 15);
		}
	}

	@include breakpoint(large) {
		width: 60px;
		height: 100vh;
		display: grid;
		padding-top: 60px;
		grid-template-rows: repeat(6, 50px) 1fr;
		row-gap: 5px;

		place-items: center;
		background: #fff;
		transform: translate(0);
		.sidebar__link {
			.sidebar__link__name {
				margin: 0;
				grid-row: 2;
				grid-column: 1;
				align-self: flex-end;
				justify-self: center;
				transform: translateY(3px);
				font-size: 10px;
			}
		}
		.current,
		.sidebar__link:hover {
			background: transparent;
		}
		&.open {
			transform: translateX(0);
		}
		&.open {
			width: 160px;

			justify-items: left;
			.sidebar__link {
				grid-template-columns: 60px 100px;
			}

			.sidebar__link__name {
				align-self: center;
				justify-self: left;
				margin-left: 5px;
				transform: translateY(0);
				font-size: 14px;
				grid-column: 2;
				grid-row: 1/3;
			}
			.current .sidebar__link__name {
				color: #000;
			}
			.current,
			.sidebar__link:hover {
				background: #e5e5e5;
			}
		}
	}
}
