@import './variables.scss';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}
#wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 200px 1fr 200px;
}
#header {
	background: $lightHeader;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	.links {
		display: grid;
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		grid-template-columns: auto auto auto;
		.link {
			font-size: 14px;
			color: $lightThemeText;
			text-decoration: none;
		}
		.toggle {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			align-items: center;
			background: darken($color: $lightFooter, $amount: 20);
			width: 40px;
			height: 20px;
			border-radius: 20px;
			grid-column: 1/4;
			justify-self: center;
			cursor: pointer;

			& svg {
				z-index: 1;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: darken($color: $lightFooter, $amount: 60);
				z-index: 0;
				transition: all 0.4s;
			}
			&.light::after {
				transform: translateX(0);
			}
			&.dark {
				background: darken($color: $lightFooter, $amount: 60);
			}
			&.dark::after {
				background: darken($color: $lightFooter, $amount: 20);
				transform: translateX(20px);
			}
		}
	}
	.header__btn {
		border: none;
		outline: none;
		background: #ffffff;
		width: 150px;
		height: 40px;
		border-radius: 10px;
		color: $lightBtnText;
		cursor: pointer;
		&:hover {
			background-color: darken($color: $lightFooter, $amount: 5);
		}
		&:active {
			background-color: darken($color: $lightFooter, $amount: 10);
		}
	}
}
.logo {
	display: grid;
	align-items: center;
	grid-template-columns: 50px auto;
	grid-column-gap: 15px;
	width: 150px;
	.logo__image {
		width: 50px;
		height: 50px;
		// border-radius: 10px;
		// background: $accentColor;
		background-image: url(/logo.svg);
	}
	.logo__text {
		font-weight: 700;
		font-size: 20px;
	}
}

#main {
	#startSection {
		display: grid;
		justify-items: center;
		padding: 30px 0;
		grid-row-gap: 30px;
		.startSection__title {
			width: 90%;
			h1 {
				font-size: 26px;
				padding-bottom: 15px;
			}
			p {
				font-size: 14px;
			}
		}
		.startSection__form {
			display: grid;
			justify-items: center;
			grid-row-gap: 15px;
			width: 90%;
			background: $lightFormBackground;
			border-radius: 10px;
			padding: 20px 0;
			.socialRegistration {
				display: grid;
				grid-template-columns: repeat(5, 40px);
				grid-column-gap: 15px;
				.icon {
					width: 40px;
					height: 40px;
					border-radius: 5px;
					background: #e7e0da;
					display: grid;
					justify-items: center;
					align-items: center;
					& svg {
						height: 20px;
						max-width: 22px;
					}
				}
			}
			#signUp__btn {
				height: 40px;
				width: 180px;
				border-radius: 10px;
				font-size: 14px;
				background: $accentColor;
				outline: none;
				border: none;
				cursor: pointer;
				&:hover {
					background: lighten($color: $accentColor, $amount: 5);
				}
				&:active {
					background: lighten($color: $accentColor, $amount: 10);
				}
			}
			.input {
				width: 80%;
				outline: none;
				height: 40px;
				padding: 0 10px;
				border-radius: 5px;
				border: 1px solid #93877380;
				&:focus {
					border-color: #938773;
				}
			}
			p {
				width: 80%;
				font-size: 12px;
				color: #938773;
				text-align: center;
			}
		}
	}
	#featuresSection {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 30px 0;
		grid-row-gap: 30px;
		background: $lightHeader;
		h2 {
			font-size: 26px;
			position: relative;
			margin-bottom: 20px;
			&::after {
				content: '';
				width: 50px;
				height: 4px;
				background: $accentColor;
				border-radius: 10px;
				position: absolute;
				top: 45px;
				left: 50%;
				transform: translate(-50%, 0);
				margin-bottom: 20px;
			}
		}
		.card {
			display: grid;
			grid-row-gap: 10px;
			width: 75%;
			text-align: center;
			justify-items: center;
			align-items: center;
			z-index: 2;
			.card__icon {
				position: relative;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background: #ffd6da;
				display: grid;
				justify-items: center;
				align-items: center;
				& svg {
					height: 24px;
					max-width: 24px;
				}
			}
			.card__title {
				font-weight: 900;
				font-size: 16px;
			}
			.card__text {
				font-size: 14px;
			}
			.card__link {
				font-size: 14px;
				color: $accentColor;
			}
		}
		#backText {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 5px;
		}
	}
	#ctaSection {
		padding: 30px 0;
		display: grid;
		text-align: center;
		justify-items: center;
		align-items: center;
		grid-row-gap: 20px;
		.ctaSection__title {
			font-size: 32px;
			font-weight: 900;
			width: 85%;
		}
		.ctaSection__text {
			font-size: 14px;
			width: 80%;
		}
		.signUp__btn {
			width: 180px;
			height: 45px;
			font-size: 18px;
			background: $accentColor;
			border: none;
			outline: none;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background: lighten($color: $accentColor, $amount: 5);
			}
			&:active {
				background: lighten($color: $accentColor, $amount: 10);
			}
		}
	}
}

#footer {
	background: $lightFooter;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	#footer__text {
		color: $lightFooterText;
		font-size: 12px;
	}
	.social__links {
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: auto auto auto auto;

		.link {
			display: grid;
			justify-items: center;
			align-items: center;
			width: 40px;
			height: 40px;
			.link__icon {
				width: 22px;
				fill: $lightSocialColor;
			}
			&:hover {
				.link__icon {
					fill: $accentColor;
				}
			}
		}
	}
}
