$light: #f5f5f5;
$lightText: #1f1f1f;
$lightSocialColor: #1f1f1f;
$accentColor: #ff4655;
$lightFormBackground: #f5f5f5;
$dark: #1f1f1f;
$darkText: #eeeeee;
$darkFormBackground: #272727;
$breakpoints: (
	small: 320px,
	medium: 600px,
	large: 1024px,
	xl: 1366px,
);
@mixin breakpoint($mq-breakpoint, $mq-breakpoints: $breakpoints) {
	@if map-has-key($mq-breakpoints, $mq-breakpoint) {
		$mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
	}
	@media screen and (min-width: #{$mq-breakpoint}) {
		@content;
	}
}
