$lightHeader: #f1f5f9;
$lightFooter: #e2ebf3;
$lightFooterText: #557b9c;
$lightSocialColor: #415b76;
$accentColor: #ff4655;
$lightThemeText: #121212;
$lightBtnText: #a30008;
$lightFormBackground: #f7f5f3;
